@model TaskLoggerV1.Models.TaskModel

<div id="delete-task-container">
    <h4>Are you sure you want to delete this task?</h4>
    <dl class="row">
        <dt class="col-sm-2">Title</dt>
        <dd class="col-sm-10">@Model.Title</dd>

        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Model.Description</dd>

        <dt class="col-sm-2">Task Date</dt>
        <dd class="col-sm-10">@Model.TaskDate.ToString("yyyy-MM-dd")</dd>

        <dt class="col-sm-2">Hours Logged</dt>
        <dd class="col-sm-10">@Model.HoursLogged</dd>

        <dt class="col-sm-2">Completed</dt>
        <dd class="col-sm-10">@(Model.IsCompleted ? "Yes" : "No")</dd>
    </dl>
    @using (Html.BeginForm("Delete", "TaskHome", FormMethod.Post, new { id = "deleteTaskForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)

        <div class="mt-2">
            <button type="submit" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
    }

</div>

<script>
   $(document).on("submit", "#deleteTaskForm", function (e) {
    e.preventDefault();
    var $form = $(this);
    var taskId = $form.find('input[name="Id"]').val();

    if (confirm("Are you sure you want to delete this task?")) {
        $.ajax({
            url: $form.attr('action'), // this will be /TaskHome/Delete
            type: 'POST',
            data: {
                id: taskId,
                __RequestVerificationToken: $form.find('input[name="__RequestVerificationToken"]').val()
            },
            success: function (res) {
                if (res.success) {
                    $("#taskRow_" + taskId).remove(); // remove row
                    alert("Task deleted successfully!");
                    $("#modalContainer").empty();    // close modal
                } else {
                    alert("Failed to delete task.");
                }
            },
            error: function () {
                alert("Error deleting task.");
            }
        });
    }
});


</script>


