@model TaskLoggerV1.Models.TaskModel

@{
    ViewBag.Title = "Edit Task";
}

<h2>Edit Task</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 3 })
        @Html.ValidationMessageFor(m => m.Description)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.TaskDate)
        @Html.TextBoxFor(m => m.TaskDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(m => m.TaskDate)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.HoursLogged)
        @Html.TextBoxFor(m => m.HoursLogged, new { @class = "form-control", type = "number", step = "0.1" })
        @Html.ValidationMessageFor(m => m.HoursLogged)
    </div>

    <div class="form-check">
        @Html.CheckBoxFor(m => m.IsCompleted, new { @class = "form-check-input" })
        @Html.LabelFor(m => m.IsCompleted, new { @class = "form-check-label" })
    </div>

    <button type="submit" class="btn btn-primary mt-2">Save</button>
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary mt-2" })
}
